APP_ENV="dev"
MONGO_URL="mongodb+srv://countdown:"
MONGO_APP_NAME="something"
RELATIONSHIP_PROFILE_COLLECTION_NAME="relationship_profile"

FRONTEND_URL="https://website.com/"

AWS_ACCESS_KEY="your_access_key_id"
AWS_SECRET_KEY="your_secret_access_key"
AWS_S3_BUCKET="your_bucket_name"
AWS_REGION="eu-west-1"

ACCESS_KEY_DANFENG="danfeng_secret_key"
ACCESS_KEY_JORIS="joris_secret_key"

OPENAI_API_KEY=""
OPENAI_MODEL_MEDIATION="gpt-5"
OPENAI_MODEL_MODERATION="omni-moderation-latest"
OPENAI_MODEL_XIAOBAO="gpt-5.6-terra"
XIAOBAO_REASONING_EFFORT="low"
XIAOBAO_MAX_OUTPUT_TOKENS="1200"
XIAOBAO_HISTORY_MESSAGE_LIMIT="20"
XIAOBAO_HISTORY_CHARACTER_LIMIT="20000"
XIAOBAO_MEDIATION_SESSION_LIMIT="10"
XIAOBAO_MEDIATION_COMMENT_LIMIT="20"
XIAOBAO_MEDIATION_CONTEXT_CHARACTER_LIMIT="30000"
XIAOBAO_MEDIATION_PRIVATE_CONTEXT_CHARACTER_LIMIT="15000"
XIAOBAO_RATE_LIMIT_REQUESTS="10"
XIAOBAO_RATE_LIMIT_WINDOW_SECONDS="300"
XIAOBAO_CHECKPOINT_TTL_SECONDS="604800"
MEDIATION_WORKER_ENABLED="false"
MEDIATION_JOB_PROCESSING_TIMEOUT_SECONDS="300"

# AeroDataBox flight metadata lookup (via RapidAPI)
# Required for the "Lookup flight" feature in the flight creation form.
# Subscribe at https://rapidapi.com/aedbx-aedbx/api/aerodatabox
AERODATABOX_API_KEY=""
AERODATABOX_BASE_URL="https://aerodatabox.p.rapidapi.com"
AERODATABOX_API_HOST="aerodatabox.p.rapidapi.com"
AERODATABOX_TIMEOUT_SECONDS="10.0"
AERODATABOX_LOOKUP_WINDOW_DAYS="7"
AERODATABOX_CACHE_TTL_SUCCESS_SECONDS="21600"
AERODATABOX_CACHE_TTL_NO_RESULTS_SECONDS="1800"
