APP_ENV="dev"
MONGO_URL="mongodb+srv://countdown:"
MONGO_APP_NAME="something"

FRONTEND_URL="https://website.com/"

AWS_ACCESS_KEY="your_access_key_id"
AWS_SECRET_KEY="your_secret_access_key"
AWS_S3_BUCKET="your_bucket_name"
AWS_REGION="eu-west-1"

ACCESS_KEY_DANFENG="danfeng_secret_key"
ACCESS_KEY_JORIS="joris_secret_key"

OPENAI_API_KEY=""
OPENAI_MODEL_MEDIATION="gpt-5"
OPENAI_MODEL_MODERATION="omni-moderation-latest"
MEDIATION_WORKER_ENABLED="false"
MEDIATION_JOB_PROCESSING_TIMEOUT_SECONDS="300"
