name: Deploy to Heroku

on:
  push:
    tags:
      - "v*"
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    environment: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.14"

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip uv
          uv pip install --system -r pyproject.toml

      - name: Set up environment variables
        run: |
          echo "MONGO_URL=${{ secrets.MONGO_URL }}" >> .env
          echo 'MONGO_APP_NAME="test"' >> .env

      - name: Run tests
        run: |
          pytest -v --maxfail=1 --disable-warnings

  deploy:
    name: Deploy to Heroku (Production)
    runs-on: ubuntu-latest
    environment: production
    needs: test
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Heroku CLI
        run: |
          curl https://cli-assets.heroku.com/install.sh | sh

      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.14.15
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: "counting-down-fastapi"
          heroku_email: "info@jorislodewijks.nl"
          region: "eu"
